# ESP-IDF root directory.
# This directory should contain export.sh, components/, tools/, and examples/.
ESP_IDF_PATH=/home/user/.espressif/v6.0/esp-idf

# SMS Gateway
SMS_GATEWAY_API_URL=https://xxx.com
SMS_GATEWAY_API_TOKEN=xxxxxx